<div class="well bs-component">
<%= form_for @profile, :html=>{:class => "form-horizontal", :id => "formforalumni"} do |f| %>
<fieldset>
  <%if current_user.admin%>
  <legend>For Admins - Set User ID</legend>
  <div class = "form-group">
    <%= f.label :user_id, "User ID", :class => "control-label" %>
    <%= f.text_field :user_id, :class => 'form-control' %>
  </div>
  <%end%>
<legend>Personal Details</legend>
  <div class = "form-group">
    <%= f.label :firstname, 'First Name', :class => "control-label" %>
    <%= f.text_field :firstname, :class => 'form-control' %>
  </div>
   <div class = "form-group">
    <%= f.label :middlename, 'Middle Name', :class => "control-label" %>
    <%= f.text_field :middlename, :class => 'form-control' %>
  </div>
   <div class = "form-group">
    <%= f.label :lastname, 'Last Name', :class => "control-label" %>
    <%= f.text_field :lastname, :class => 'form-control' %>
  </div>
     <div class = "form-group">
    <%= f.label :gender, 'Gender', :class => "control-label" %>
    <%= f.text_field :gender, :class => 'form-control' %>
  </div>
     <div class = "form-group">
    <%= f.label :birthdate, 'Birthdate', :class => "control-label" %>
    <%= f.text_field :birthdate, :class => 'form-control' %>
  </div>
     <div class = "form-group">
    <%= f.label :ethnicity, 'Ethnicity', :class => "control-label" %>
    <%= f.text_field :ethnicity, :class => 'form-control' %>
  </div>
     <div class = "form-group">
    <%= f.label :otherethnic, 'Other Ethnicity', :class => "control-label" %>
    <%= f.text_field :otherethnic, :class => 'form-control' %>
  </div>
  <legend>LPFI Details</legend>
  <div class = "form-group">
    <%= f.label :site, "Site", :class => "control-label" %>
    <%= f.text_field :site, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :lpfi_id, "LPFI ID", :class => "control-label" %>
    <%= f.text_field :lpfi_id, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :cohort, "Cohort", :class => "control-label" %>
    <%= f.text_field :cohort, :class => 'form-control' %>
  </div>
  <legend>Contact Info</legend>
  <div class = "form-group">
    <%= f.label :email, 'Email', :class => "control-label" %>
    <%= f.text_field :email, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :homephone, 'Home Phone', :class => "control-label" %>
    <%= f.text_field :homephone, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :workphone, 'Work Phone', :class => "control-label" %>
    <%= f.text_field :workphone, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :cellphone, 'Cell Phone', :class => "control-label" %>
    <%= f.text_field :cellphone, :class => 'form-control' %>
  </div>
   <div class = "form-group">
    <%= f.label :address1, 'Address 1', :class => "control-label" %>
    <%= f.text_field :address1, :class => 'form-control' %>
  </div>
   <div class = "form-group">
    <%= f.label :address2, 'Address 2', :class => "control-label" %>
    <%= f.text_field :address2, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :city, 'City', :class => "control-label" %>
    <%= f.text_field :city, :class => 'form-control' %>
    <%= f.label :state, 'State', :class => "control-label" %>
    <%= f.select :state, options_for_select(@profile.state_abbs), {}, {:class => 'form-control'}%>
  </div>
  <div class = "form-group">
    <%= f.label :zip, 'Zip', :class => "control-label" %>
    <%= f.text_field :zip, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :county, 'County', :class => "control-label" %>
    <%= f.text_field :county, :class => 'form-control' %>
  </div>
<legend>Education Details</legend>
<div class = "form-group">
    <%= f.label :schoolname, 'School Name', :class => "control-label" %>
    <%= f.text_field :schoolname, :class => 'form-control' %>
  </div><div class = "form-group">
    <%= f.label :schoolcity, 'School City', :class => "control-label" %>
    <%= f.text_field :schoolcity, :class => 'form-control' %>
  </div><div class = "form-group">
    <%= f.label :schooltype, 'School Type', :class => "control-label" %>
    <%= f.text_field :schooltype, :class => 'form-control' %>
  </div><div class = "form-group">
    <%= f.label :counselor, 'Counselor', :class => "control-label" %>
    <%= f.text_field :counselor, :class => 'form-control' %>
  </div><div class = "form-group">
    <%= f.label :other_programs, 'Other Programs', :class => "control-label" %>
    <%= f.text_field :other_programs, :class => 'form-control' %>
  </div><div class = "form-group">
    <%= f.label :official_gpa, 'Official GPA', :class => "control-label" %>
    <%= f.text_field :official_gpa, :class => 'form-control' %>
  </div><div class = "form-group">
    <%= f.label :graduationdate, 'Graduation Date', :class => "control-label" %>
    <%= f.text_field :graduationdate, :class => 'form-control' %>
  </div>
  <legend>EC1</legend>
  <div class = "form-group">
    <%= f.label :ec1_name, 'EC1 Name', :class => "control-label" %>
    <%= f.text_field :ec1_name, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :ec1_relationship, 'EC1 Relationship', :class => "control-label" %>
    <%= f.text_field :ec1_relationship, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :ec1_homephone, 'EC1 Homephone', :class => "control-label" %>
    <%= f.text_field :ec1_homephone, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :ec1_cellphone, 'EC1 Cellphone', :class => "control-label" %>
    <%= f.text_field :ec1_cellphone, :class => 'form-control' %>
  </div>
  <legend>College</legend>
  <div class = "form-group">
    <%= f.label :stemmajor, 'STEM Major', :class => "control-label" %>
    <%= f.text_field :stemmajor, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :graduatedcollege, 'Graduated College', :class => "control-label" %>
    <%= f.text_field :graduatedcollege, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :grad_school, 'Grad School', :class => "control-label" %>
    <%= f.text_field :grad_school, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :grad_school_major, 'Grad School Major', :class => "control-label" %>
    <%= f.text_field :grad_school_major, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :grad_school_year_of_graduation, 'Grad School Graduation Date', :class => "control-label" %>
    <%= f.text_field :grad_school_year_of_graduation, :class => 'form-control' %>
  </div>
  <legend>Work Info</legend>
  <div class = "form-group">
    <%= f.label :current_city, 'Current City', :class => "control-label" %>
    <%= f.text_field :current_city, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :current_state, 'Current State', :class => "control-label" %>
    <%= f.text_field :current_state, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :employer, 'Employer', :class => "control-label" %>
    <%= f.text_field :employer, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :job_title, 'Job Title', :class => "control-label" %>
    <%= f.text_field :job_title, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :linkedin, 'LinkedIn Profile', :class => "control-label" %>
    <%= f.text_field :linkedin, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :interested_in_networking_opportunities, 'Interested in Networking Opportunities?', :class => "control-label" %>
    <%= f.text_field :interested_in_networking_opportunities, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :career_areas_of_interest, 'Career Areas of Interest', :class => "control-label" %>
    <%= f.text_field :career_areas_of_interest, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label :professional_development_areas_of_interest, 'Professional Development Areas of Interest', :class => "control-label" %>
    <%= f.text_field :professional_development_areas_of_interest, :class => 'form-control' %>
  </div>
  <div class = "form-group">
    <button type="reset" class="btn btn-default">Cancel</button>
    <%= f.submit%>
  </div>
  </fieldset>
<% end %>

</div>